<!-- AskBox view #2: Suggestions -->


<!--
<a href="#/">
    <div class="return">
        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
    </div>
</a>
-->

<a href="#/">
    My Askbox 
</a> >
<a href="#/home/{{$index}}">
    Suggestions
</a>

<div class="row">
   
    <!-- First Column -->
    <div class="col-md-4">
        <div class="row">
            <div class="myEntry col-md-12">
               
                <div class="category">
                    <small>{{ myEntry.category }}</small>
                </div>
                
                <div class="subject">
                    <h3> {{ myEntry.subject }} </h3>
                    <div class="submission">Submitted by
                        <a class="user">{{userName}}</a>
                    </div>
                </div>
                
                <div class="body">
                    <p> {{ myEntry.desc }} </p>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- Second Column -->
    <div class="col-md-5">
        <div class="entries row">
            <div ng-repeat="post in myEntry.posts | orderBy:'-likes'" class="fade">
                <div class="entry post col-md-12">

                    <div class="entry-head"></div>
                    <div class="entry-body">
                        <h4> {{ post.title }} </h4>
                        <p>
                            <i class="fa fa-thumbs-up" aria-hidden="true" ng-click="upVote(post)"></i>
                            <i class="fa fa-thumbs-down" aria-hidden="true" ng-click="downVote(post)"></i> {{ post.likes }} |
                            <a href="#/home/{{ currentEntryIndex }}/suggestion/{{$index}}">Comments</a>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Side Panel -->
    <div class="side-panel col-md-3">
        <div class="row">

            <div class="rec-panel col-md-12">
                <div class="getRec">
                    <form ng-submit="addSuggestion()">
                        <h3> Submit A Suggestion </h3>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="title" />
                        </div>
                        <button type="submit" class="btn btn-default">Suggest</button>
                    </form>
                </div>
            </div>

            <div class="asks-panel col-md-12">
                <div class="panel-head">
                    <h3>More From {{userName}}</h3>
                </div>
                <div class="panel-body entries">
                    <div ng-repeat="myEntry in myEntries" class="fade">
                        <div class="entry col-md-12">

                            <div class="category">
                                <small> {{ myEntry.category }} </small>
                            </div>
                            <p>
                                <a href="#/home/{{$index}}">
                                   {{ myEntry.subject }}
                                </a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
